<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="fr.deroffal.bibliotheque" level="INFO"/>
    <logger name="com.openpojo" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
</configuration>
